name: Orchestrate

run-name: ${{ format('Orchestrate - {0}', inputs.branch ) }}

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build (e.g., main)'
        required: false
        default: 'main'
        type: string

jobs:
  build-repoA:
    uses: ismenablement/poc2repoA/.github/workflows/build.yml@main
    with:
      branch: ${{ github.event.inputs.branch }}