name: Orchestrate

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build (e.g., main)'
        required: true
        type: string

jobs:
  build-repoA:
    uses: amisovic/poc2repoA/.github/workflows/build.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.PAT_WORKFLOWS }}